APP_NAME="Badabrand Technologies"
APP_ENV=production
APP_DEBUG=false
APP_URL=http://localhost/badabrand-technologies
APP_TIMEZONE=Asia/Calcutta

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=badabrand_technologies
DB_USERNAME=root
DB_PASSWORD=

COMPANY_EMAIL=support@badabrand.in
COMPANY_PHONE=+91 9109566312
COMPANY_WHATSAPP=+91 9109566312
COMPANY_ADDRESS="Balaghat, Madhya Pradesh, India"
GOOGLE_MAPS_EMBED=https://www.google.com/maps?q=Balaghat%20Madhya%20Pradesh%20India&output=embed
